apiVersion: v1
kind: Secret
metadata:
  name: ui-oauth2-alpha-secret
  labels:
    {{- include "ui-base.labels" . | nindent 4 }}
type: Opaque
stringData:
  oauth2_proxy.yml: |
    server:
      BindAddress: "0.0.0.0:{{ index .Values "oauth2-proxy" "service" "portNumber" }}"

    metricsServer:
      BindAddress: "0.0.0.0:44180"

    injectRequestHeaders:
      - name: Authorization
        values:
          - claim: access_token
            prefix: "Bearer "
      - name: X-Auth-Request-User
        values:
          - claim: user
      - name: X-Auth-Request-Email
        values:
          - claim: email

    providers:
      - provider: oidc
        id: {{ .Values.identityProvider }}
        clientID: ${OAUTH2_PROXY_CLIENT_ID}
        clientSecret: ${OAUTH2_PROXY_CLIENT_SECRET}
        scope: openid email profile offline_access
        oidcConfig:
          issuerURL: {{ include "ui-base.identityIssuerURL" . | quote }}
          insecureAllowUnverifiedEmail: true
          insecureSkipNonce: true
          emailClaim: sub
          audienceClaims: ["aud"]

    upstreamConfig:
      proxyRawPath: false
      upstreams:
{{ include "ui-base.renderUpstreams" . | indent 8 }}
