ui-base:
  name: visr
  host: douglas.diamond.ac.uk

  image:
    repository: ghcr.io/douglaswinter/atlas/visr
    tag: # Updated by CI job with latest release version

  upstreams:
    - id: blueapi
      path: /api/
      rewriteTarget: /
      target:
        external:
          uri: http://b01-1-blueapi.diamond.ac.uk

    - id: workflows
      path: /api/workflows
      rewriteTarget: /graphql
      target:
        external:
          uri: https://workflows.diamond.ac.uk

    - id: data
      path: /api/data/
      rewriteTarget: /
      sse: true
      target:
        service:
          name: dataserver
          port: 8000

    - id: supergraph
      path: /api/graphql
      rewriteTarget: /
      target:
        external:
          uri: https://graph-nightly.diamond.ac.uk
      passHostHeader: false

  identityProvider: legacy
