name: Publish ViSR Docker Image

on:
  release:
    types: [published]

  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to build from"
        default: "main"
        required: true

jobs:
  publish:
    uses: ./.github/workflows/publish-app.yml
    with:
      app: visr
      image: ghcr.io/DiamondLightSource/atlas/visr
      branch: ${{ github.event.inputs.branch || 'main' }}
